.*.sw[a-z]
.#*
.bundle
.cache
.coverage
.env
.envrc
.kitchen.local.yml
.kitchen/
.ruby-gemset
.ruby-version
.tags*
.vagrant
.yardoc/
*.un~
*#
*~
\#*#
Berksfile.lock
bin
coverage/
doc/
Gemfile.lock
vendor/
