---
name: ci

"on":
  pull_request:
  push:
    branches:
      - main

jobs:
  lint-unit:
    uses: sous-chefs/.github/.github/workflows/lint-unit.yml@main
    permissions:
      actions: write
      checks: write
      pull-requests: write
      statuses: write
      issues: write

  integration:
    needs: lint-unit
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        os:
          [
            "almalinux-8",
            "almalinux-9",
            "amazonlinux-2023",
            "centos-stream-9",
            "centos-stream-10",
            "debian-11",
            "debian-12",
            "rockylinux-8",
            "rockylinux-9",
            "ubuntu-2204",
            "ubuntu-2404",
          ]
        suite: ["distro", "repo"]
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - uses: ./.github/actions/test-kitchen
        with:
          suite: ${{ matrix.suite }}
          os: ${{ matrix.os }}

  # TODO: This is currently broken
  # integration-repo-overrides:
  #   needs: lint-unit
  #   runs-on: ubuntu-latest
  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       os: ["ubuntu-2204", "ubuntu-2404"]
  #       suite: ["repo-overrides"]
  #   steps:
  #     - name: Check out code
  #       uses: actions/checkout@v4
  #     - uses: ./.github/actions/test-kitchen
  #       with:
  #         suite: ${{ matrix.suite }}
  #         os: ${{ matrix.os }}

  integration-epel:
    needs: lint-unit
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        os:
          [
            "almalinux-8",
            "almalinux-9",
            "centos-stream-9",
            "centos-stream-10",
            "rockylinux-8",
            "rockylinux-9",
          ]
        suite: ["epel"]
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - uses: ./.github/actions/test-kitchen
        with:
          suite: ${{ matrix.suite }}
          os: ${{ matrix.os }}

  integration-nginx-full:
    needs: lint-unit
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-2204", "ubuntu-2404"]
        suite: ["distro-nginx-full"]
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - uses: ./.github/actions/test-kitchen
        with:
          suite: ${{ matrix.suite }}
          os: ${{ matrix.os }}

  final:
    runs-on: ubuntu-latest
    needs: [integration, integration-nginx-full, integration-epel]
    steps:
      - run: echo ${{needs.integration.outputs}}
      - run: echo ${{needs.integration-nginx-full.outputs}}
      - run: echo ${{needs.integration-epel.outputs}}
